.left-side-container {
  width: 35vh;
  min-height: 100vh;
  flex-shrink: 0;
  border-right: 1px solid #e2e2e2;
  background: #fff;
  padding: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.logo-text-container {
  display: flex;
}
.logo {
  height: 38px;
  width: 44px;
  border-radius: 50%;
  align-self: center;
  margin-right: 10px;
}
.money-matters-text {
  color: #f89a23;
  font-family: 'Roboto';
  font-size: 19.66px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
}
.matter-text {
  color: #02969c;
}
@media screen and (max-width: 700px) {
  .logo {
    height: 27px;
    width: 35px;
  }
  .money-matters-text {
    font-size: 12px;
  }
  .left-side-container {
    width: 35vh;
    padding: 10px;
  }
}
.home-logo {
  height: 25px;
  align-self: center;
  margin-right: 15px;
}

.profile-container {
  display: flex;
  margin-left: 15px;
  background-color: transparent;
  border: none;
}
.profile-image {
  display: flex;
  width: 40px;
  height: 40px;
  margin-bottom: 17px;
  margin-right: 10px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.logout-container {
  display: flex;

  padding-bottom: 0px;

  height: 75%;
  align-items: flex-end;

  border-top: 1px solid #eaecf0;
}
.ul-list {
  padding-left: 0px;
}
.user-name {
  color: #505887;

  /* Text sm / Semibold */
  font-family: 'Roboto';
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 20px;
  margin-bottom: 0px; /* 142.857% */
}
.gmail-text {
  margin-top: 0px;
  color: #718ebf;
  font-family: 'Roboto';
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px; /* 142.857% */
}
.profile-text-container {
  padding-left: 0px;
  margin-left: 0px;
}
.logout-button {
  background-color: transparent;
  border: none;
}
.logout-image {
  width: 20px;
  height: 20px;
  margin-right: 10px;
  margin-bottom: 20px;
  margin-left: 5px;
}
.link-el {
  text-decoration: none;
}
